EXPO_PUBLIC_SOLANA_NETWORK=mainnet-beta
EXPO_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
EXPO_PUBLIC_ROUND_PROGRAM_ID=H2TwAXbeHpFadykMkrjpfEnhTTapTQ9gWiXs31tKh3Gw
EXPO_PUBLIC_USDC_MINT=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
EXPO_PUBLIC_SKR_MINT=SKRbvo6Gf7GondiT3BbTfuRDPqLWei4j2Qy2NPGZhW3
